<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>welcome to ejs</h1>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form method="post">
            <input type="text" placeholder="programming language" name="pLanguage" />
            <button type="submit">add</button>

            <ul>
                <% if(plNames.length> 0){ %>
                    <li>
                        <%= plNames %>
                    </li>
                    <% }else{ %>
                        <p> no data found</p>
                        <% } %>
            </ul>

        </form>
    </main>
    <footer>
        <p>all rights deserve by @kaniz</p>
    </footer>
</body>

</html>