<%- include ("layout/header.ejs")%>
    <main>
        <form method="post">
            <input type="text" placeholder="programming language" name="pLanguage" />
            <button type="submit">add</button>

            <ul>
                <% if(plNames.length> 0){ %>

                    <% for ( let x=0; x < plNames.length; x++) {  %>
                       
                        <li><%= plNames[x] %></li>
                        <% } %>
                            
                        <% }else{ %>
                                <p> no data found</p>
                        <% } %>
            </ul>

        </form>
    </main>
    <%- include ("layout/footer")%>